//  Colors
$red: #dc4734;
$white: white;

$darkShadeBlack: #1F2041;
$darkShadeGray: rgba(31, 32, 65, 0.75);
$darkShadeHalf: rgba(31, 32, 65, 0.5);
$darkShadeFourth: rgba(31, 32, 65, 0.25);
$darkShadeLight: rgba(31, 32, 65, 0.05);


// Fonts
$roboto: "Roboto", sans-serif;


